<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Add Salon</h1>
  <div class="col-6 offset-3">
    <form action="/salons" method="post">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="salon[title]"
          id="title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Description</label>
        <input
          class="form-control"
          type="text"
          name="salon[description]"
          id="description"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Salon</button>
      </div>
    </form>
    <footer>
      <a href="/salons">Back To All Salons</a>
    </footer>
  </div>
</div>
