<div class="foot-container foot-shadow">
  <div class="foot">
    <div class="foot-heading foot-1">
      <a href="">Github</a>
      <a href="">Linkedin</a>
      <a href="">Gmail</a>
    </div>
    <div class="foot-heading foot-2">
      <a href="">Paypal</a>
      <a href="">Cashapp</a>
      <a href="">Square</a>
    </div>
    <div class="foot-email-form">
      <h4>Recieve Updates</h4>
      <input
        type="email"
        name="email"
        id="foot-email"
        placeholder="Enter Email Address"
      />
      <input
        type="submit"
        id="foot-email-btn "
        class="btn btn-outline-warning"
        value="Sign up"
        disabled
      />
    </div>
  </div>
</div>
