<!-- <nav
  class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-shadow"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fresher</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="#">Register</a>
        <a class="nav-link" id="windowtoggle" href="#">Login</a>

        <a class="nav-link" href="#"> </a>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav> -->
<div class="nav">
  <div class="nav-contain">
    <div class="logo">
      <a href="/salons">
        <h1>FRESHEN</h1>
      </a>
    </div>
    <nav>
      <ul>
        <% if(!currentUser) { %>
        <li><a href="#">Register</a></li>
        <li><a href="#" id="windowtoggle">Login</a></li>
        <% } else { %>
        <li><a href="#"><%= currentUser.username %> </a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>
