body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.502)),
    url("https://images.unsplash.com/photo-1607008829749-c0f284a49fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3024&q=80");
  background-size: auto;
  background-position: center;
}
