.scrollable {
  height: 52vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.full-length {
  height: 80vh;
}

.avg-price {
  color: green;
}

.review-text {
  font-size: large;
}

.default-shadow {
  box-shadow: 0 8px 32px rgba(233, 233, 233, 0.68);
}

.salon-index:hover {
  box-shadow: 0 8px 32px rgba(233, 233, 233, 0.68);
  cursor: pointer;
  transition: 0.5s;
}

.smooth {
  border-radius: 5px;
}

.index-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-img-size {
  height: 120px;
  width: 120px;
}

.show-img-size {
  height: 325px;
  width: 325px;
}
