.scrollable {
  height: 52vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.full-length {
  height: 80vh;
}

.avg-price {
  color: green;
}

.review-text {
  font-size: large;
}

.default-shadow {
  box-shadow: 0 8px 16px rgba(235, 235, 235, 0.68);
}

.navbar-shadow {
  box-shadow: 0 0 5px rgb(169, 169, 169);
}

.salon-index:hover {
  box-shadow: 0 8px 16px rgba(233, 233, 233, 0.68);
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.5s;
  z-index: 3;
}

.index-map {
  width: 100%;
  height: 600px;
  transition: all 5s ease;
  z-index: 3;
}

.index-map:hover {
  transform: scale(1.2);
  transition: 2s;
}

.plus-button {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

.smooth {
  border-radius: 10px;
}

.index-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-img-size {
  height: 120px;
  width: 120px;
}

.show-img-size {
  height: 325px;
  width: 325px;
}

.remove-underline {
  text-decoration: none;
}

.window {
  z-index: 4;
  background-color: white;
  box-shadow: 0 8px 16px rgba(196, 196, 196, 0.68);
  width: 400px;
  height: 300px;
  position: fixed;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window .window-bar {
  height: 40px;
  padding-left: 6px;
  padding-top: 3px;
  cursor: move;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window .window-bar .window-close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 14px;
  height: 14px;
  padding-left: 2px;
  padding-top: 2px;
}

.window-body {
  margin: 1em;
}
