.scrollable {
  height: 52vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.full-length {
  height: 80vh;
}

.avg-price {
  color: green;
}

.review-text {
  font-size: large;
}

.shadow {
  box-shadow: 0 7px 30px -10px;
}
